/* Add CSS Styling */
.Iam{
    background-color: pink;
    font-family: Verdana, DejaVu Sans, sans-serif;
}
.cooler{
   font-size: 24px;
}

#Ori{
    color: blue;
    font-size: 36px;
}

#NotOri{
    font-weight: bold;
    background-color: lightgreen;
}